
<h1 class="text-center title-login">Log in</h1>
	<div class="well">
		<%= form_tag sessions_path do %>
		<p>
			<%= label_tag :email, nil,class:"label-form" %><br/>
			<%= text_field_tag :email, params[:email], class:'form-control' %>
		</p>
		<p>
			<%= label_tag :password, nil,class:"label-form" %><br/>
			<%= password_field_tag :password, nil,class:"form-control" %>
		</p>
		<div class="text-center">
			<%= submit_tag "Sign in", class:"btn btn-success btn-login"%>
		<% end %>
	</div>
	<br/>
	<%=  link_to "Forgot your password?", "#" %>
	</div>
