

<%= form_for @user do |f| %>
	
	<h1 class="text-center title-login">Sign up</h1>

	<div class="well">
		<p>
			<%= f.label :email, class:"label-form" %><br/>
			<%= f.text_field :email, class:'form-control' %>
		</p>
		<p>
			<%= f.label :password, class:"label-form"  %><br/>
			<%= f.password_field :password, class:"form-control" %>
		</p>
		<p>
			<%= f.label :password_confirmation, class:"label-form" %><br/>
			<%= f.password_field :password_confirmation, class:"form-control" %>
		</p>
		<div class="text-center">
			<%= f.submit class:"btn btn-success btn-login" %>
		</div>
		
	</div>
	
<% end %>
